body {
  max-width: 120rem;
  margin: 0 auto;
  color: var(--text-dg);
  background: var(--bg-l);

  font-family: Vela Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

  .g {
    color: var(--text-g);
  }
}

header {
  margin: 0 auto;
  max-width: var(--screen);
  display: flex;
  justify-content: space-between;
  padding: var(--20);
  padding-bottom: 0;
}

.sections {
  z-index: 100;
  position: fixed;
  left: var(--20);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 10.75rem;
  gap: var(--15);
  padding: var(--25) var(--30);
  corner-shape: var(--super);
  border-radius: var(--20);
  background: var(--bg-gl);
}

.link {
  position: relative;
  transition: var(--tr);

  &::after {
    content: '';
    position: absolute;
    top: -0.625rem;
    left: -0.9375rem;
    right: -0.9375rem;
    bottom: -0.625rem;
  }
}

#cases,
#task,
#research,
#solution,
#results {
  scroll-margin-top: 20vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 6.25rem;
}

.me {
  width: 7.5rem;
  height: auto;
  corner-shape: var(--super);
  border-radius: var(--20);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--10);
  height: max-content;
  width: max-content;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--20) var(--30);
  transition: var(--tr);
  corner-shape: var(--super);
  border-radius: var(--20);

  &:active {
    transform: scale(0.94) !important;
    transition-duration: 0.1s;
  }

  &.l {
    background: var(--btn);
  }

  &.d {
    color: var(--text-l);
    background: var(--bg-d);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--20);

  p {
    width: 71%;
  }
}

.hide {
  display: none;

  &.t {
    height: calc(0.92em * 2);
  }
}

.cases {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.case {
  display: flex;
  flex-direction: column;
  gap: var(--15);

  img {
    transition: var(--tr);
  }

  &.off {
    a {
      cursor: url('/img/cursor/close.svg') 9 9, auto !important;

      img {
        transition: initial;
      }
    }
  }
}

.img {
  corner-shape: var(--super);
  border-radius: var(--20);
  overflow: hidden;
}

.case-d {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--30);
}

.steps {
  display: flex;
  flex-direction: column;
  padding-left: 0.25rem;
}

.step {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0.5625rem;
    top: 0.625rem;
    height: 0;
    width: 2px;
    background-color: var(--bg-d);
  }

  &:not(:last-child) {
    &:after {
      height: 98%;
    }
  }

  &:last-child {
    .info {
      margin-bottom: 0;
    }
  }
}

.number {
  z-index: 10;
  width: var(--20);
  height: var(--20);
  background: var(--bg-l);
  border-radius: 50%;
  border: 2px solid var(--bg-d);
  flex-shrink: 0;
  margin-right: 1rem;
  margin-top: 0.3125rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--10);
}

.skill {
  padding: var(--20) var(--30);
  background: var(--bg-gl);
  corner-shape: var(--super);
  border-radius: var(--10);

  &.tl {
    border-top-left-radius: var(--20);
  }

  &.tr {
    border-top-right-radius: var(--20);
  }

  &.bl {
    border-bottom-left-radius: var(--20);
  }

  &.br {
    border-bottom-right-radius: var(--20);
  }
}

.case-block {
  display: flex;
  flex-direction: column;
  gap: var(--25);

  a {
    cursor: url('/img/cursor/zoom.svg') 9 9, auto !important;
  }

  img {
    corner-shape: var(--super);
    border-radius: var(--20);
  }
}

.case-text {
  display: flex;
  flex-direction: column;
  gap: var(--20);
}

.case-cases {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding-bottom: 6.25rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.cases-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--20);
}

.pswp__button--close {
  width: 3.75rem !important;
  height: 3.75rem !important;
  margin-right: var(--20) !important;
  margin-top: var(--20) !important;
  background: var(--btn-d) !important;
  corner-shape: var(--super);
  border-radius: var(--20);
  opacity: 1 !important;
  transition: var(--tr) !important;
}

.pswp__button--close:active {
  transform: scale(0.94) !important;
  transition-duration: 0.1s;
}

.pswp__button--zoom {
  display: none !important;
}

.pswp__icn {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.pswp__icn-shadow,
.pswp__button--arrow--next,
.pswp__button--arrow--prev,
.pswp__counter {
  display: none !important;
}

.pswp__button {
  cursor: url('/img/cursor/hover.svg'), auto !important;
}

.pswp__img {
  cursor: url('/img/cursor/close.svg') 9 9, auto !important;
}

footer {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 7.5rem;

  .links {
    margin-bottom: 5rem;
  }

  h1 {
    width: max-content;
    position: relative;
  }
}