body {
  max-width: 120rem;
  margin: 0 auto;
  color: var(--text-dg);
  background: var(--bg-l);

  font-family:
    Vela Sans,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

  .g {
    color: var(--text-g);
  }

  .lg {
    color: var(--text-gl);
  }
}

header {
  margin: 0 auto;
  max-width: var(--screen);
  display: flex;
  justify-content: space-between;
  padding: var(--20);
  padding-bottom: 0;
}

.sections-c {
  z-index: 100;
  position: fixed;
  left: var(--20);
  top: 50%;
  transform: translateY(-50%);
  width: 10.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--10);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: var(--15);
  padding: var(--25) var(--30);
  corner-shape: var(--super);
  border-radius: var(--20);
  background: var(--bg-gl);
}

.link {
  position: relative;
  transition: var(--tr);

  &::after {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: -0.9375rem;
    right: -0.9375rem;
    bottom: -0.625rem;
  }
}

#cases,
#task,
#research,
#solution,
#results,
#scope {
  scroll-margin-top: 18vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 6.25rem;
}

.icon {
  width: 7.5rem;
  height: auto;
  corner-shape: var(--super);
  border-radius: var(--20);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--10);
  height: max-content;
  width: max-content;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--20) var(--30);
  transition: var(--tr);
  corner-shape: var(--super);
  border-radius: var(--20);

  &:active {
    transform: scale(0.94) !important;
    transition-duration: 0.1s;
  }

  &.l {
    background: var(--btn);
  }

  &.d {
    color: var(--text-l);
    background: var(--bg-d);
  }

  &.back {
    position: fixed;
    top: var(--20);
    left: var(--20);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--20);

  p {
    width: 71%;
  }
}

.hide {
  display: none;

  &.t {
    height: calc(0.92em * 2);
  }
}

.cases {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.wip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--20) var(--30);
  background: var(--bg-l);
  corner-shape: var(--super);
  border-radius: var(--20);
  z-index: 10;
  display: none;
  box-shadow: 0px 4px 20px 0px rgba(34, 60, 80, 0.1);
}

.case {
  display: flex;
  flex-direction: column;
  gap: var(--15);

  .img {
    position: relative;
  }

  img {
    transition: var(--tr);
  }

  &.off {
    a {
      cursor:
        url("/img/cursor/close.svg") 9 9,
        auto !important;

      img {
        transition: initial;
      }
    }

    .wip {
      display: initial !important;
    }
  }
}

.img {
  corner-shape: var(--super);
  border-radius: var(--20);
  overflow: hidden;
}

.case-d {
  display: flex;
  align-items: center;
  gap: var(--10);

  p {
    font-size: 1.5rem;
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--30);
}

.steps {
  display: flex;
  flex-direction: column;
  padding-left: 0.25rem;
}

.step {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0.5625rem;
    top: 0.625rem;
    height: 0;
    width: 2px;
    background-color: var(--bg-d);
  }

  &:not(:last-child) {
    &:after {
      height: 98%;
    }
  }

  &:last-child {
    .info {
      margin-bottom: 0;
    }
  }
}

.number {
  z-index: 10;
  width: var(--20);
  height: var(--20);
  background: var(--bg-l);
  border-radius: 50%;
  border: 2px solid var(--bg-d);
  flex-shrink: 0;
  margin-right: 1rem;
  margin-top: 0.3125rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--5);
}

.skill {
  padding: var(--20) var(--30);
  background: var(--bg-gl);
  corner-shape: var(--super);
  border-radius: var(--10);

  &.tl {
    border-top-left-radius: var(--20);
  }

  &.tr {
    border-top-right-radius: var(--20);
  }

  &.bl {
    border-bottom-left-radius: var(--20);
  }

  &.br {
    border-bottom-right-radius: var(--20);
  }
}

.case-block {
  display: flex;
  flex-direction: column;
  gap: var(--30);

  a {
    cursor:
      url("/img/cursor/zoom.svg") 9 9,
      auto !important;
  }

  img {
    corner-shape: var(--super);
    border-radius: var(--20);
  }
}

.case-text {
  display: flex;
  flex-direction: column;
  gap: var(--25);
}

.case-heading-d {
  display: flex;
  gap: var(--10);
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--10);
  padding-left: var(--25);
}

.case-cases {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding-bottom: 6.25rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.cases-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--20);
}

.pswp__button--close {
  width: 3.75rem !important;
  height: 3.75rem !important;
  margin-right: 1rem !important;
  margin-top: 1rem !important;
  background: var(--btn-d) !important;
  corner-shape: var(--super);
  border-radius: var(--20);
  opacity: 1 !important;
  transition: var(--tr) !important;
}

.pswp__button--close:active {
  transform: scale(0.94) !important;
  transition-duration: 0.1s;
}

.pswp__button--zoom {
  display: none !important;
}

.pswp__icn {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.pswp__icn-shadow,
.pswp__button--arrow--next,
.pswp__button--arrow--prev,
.pswp__counter {
  display: none !important;
}

.pswp__button {
  cursor: url("/img/cursor/hover.svg"), auto !important;
}

.pswp__container {
  cursor:
    url("/img/cursor/close.svg") 9 9,
    auto !important;
}

.pswp__img {
  cursor:
    url("/img/cursor/zoom.svg") 9 9,
    auto !important;
}

.top {
  position: fixed;
  bottom: var(--20);
  right: var(--20);
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  corner-shape: var(--super);
  border-radius: var(--20);
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.625rem);
  transition: var(--tr);
  z-index: 1000;
}

.top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

footer {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 7.5rem;

  .links {
    margin-bottom: 5rem;
  }

  h1 {
    width: max-content;
    position: relative;
  }
}

.email-c {
  display: flex;
  align-items: center;
  gap: var(--5);
}

.email {
  padding-left: calc(var(--30) + 2px);
  border-top-right-radius: var(--10);
  border-bottom-right-radius: var(--10);
}

.copy-btn {
  width: 4.1875rem;
  height: 4.1875rem;
  padding-right: 2px;
  background: var(--btn);
  display: flex;
  align-items: center;
  justify-content: center;
  corner-shape: var(--super);
  border-radius: var(--20);
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  will-change: transform;
  border-top-left-radius: var(--10);
  border-bottom-left-radius: var(--10);

  &:active {
    transform: scale(0.95);
  }

  /* перенести в media */
  &:hover {
    background: var(--btn-h);
  }

  &.copied {
    pointer-events: none;

    & .icon-copy {
      opacity: 0;
      transform: scale(0.5) rotate(90deg);
    }

    & .icon-check {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
}

.copy-icon {
  position: absolute;
  transition: 0.6s cubic-bezier(0.7, -0.5, 0.3, 1.5);
}

.icon-copy {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.icon-check {
  opacity: 0;
  transform: scale(0.5) rotate(-75deg);
}