@font-face {
  font-family: 'TT Bluescreens';
  src: url('../fonts/TTBluescreensTrial-Db.woff2') format('woff2'),
    url('../fonts/TTBluescreensTrial-Db.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Bluescreens';
  src: url('../fonts/TTBluescreensTrial-Md.woff2') format('woff2'),
    url('../fonts/TTBluescreensTrial-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vela Sans;
  src: url('../fonts/VelaSans-Regular.woff2') format('woff2'),
    url('../fonts/VelaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vela Sans;
  src: url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
    url('../fonts/VelaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-d: #101010;
  --text-dg: #303030;
  --text-l: #fff;
  --text-g: #999;

  --bg-d: #101010;
  --bg-l: #fff;
  --bg-gl: #f5f5f5;

  --btn: #f5f5f5;
  --btn-h: #e3e3e3;
  --btn-d: #101010;
  --btn-dh: #3f6cff;

  --scroll-thumb: #d9d9d9;
  --scroll-track: #fff;

  --5: 0.3125rem;
  --10: 0.625rem;
  --15: 0.9375rem;
  --20: 1.25rem;
  --25: 1.5625rem;
  --30: 1.875rem;
  --35: 2.1875rem;
  --40: 2.5rem;

  --block: 7.5rem 1.25rem;
  --body: 2.5rem;
  --screen: 50rem;

  --super: superellipse(1.4);
  --tr: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

html {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  scroll-behavior: smooth;
  cursor: url('/img/cursor/default.svg'), auto;
}

a,
a:hover,
a:active,
a:focus {
  cursor: url('/img/cursor/hover.svg'), auto;
}

a {
  text-decoration: none;
  color: var(--text-d);
  outline: none;
  /* user-select: none; */
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/* p,
h1,
h2,
h3,
img {
  user-select: none;
} */

h1,
h2 {
  color: var(--text-d);
  font-family: 'TT Bluescreens', sans-serif;
  font-style: normal;
}

h3 {
  color: var(--text-d);
  font-family: Vela Sans, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: -0.015em;
}

h2 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}