@font-face {
  font-family: Bruskovaya;
  src: url('../fonts/Bruskovaya.woff2') format('woff2'),
    url('../fonts/Bruskovaya.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vela Sans;
  src: url('../fonts/VelaSans-Regular.woff2') format('woff2'),
    url('../fonts/VelaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vela Sans;
  src: url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
    url('../fonts/VelaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-d: #101010;
  --text-dg: #303030;
  --text-l: #fff;
  --text-g: #999;

  --bg-d: #101010;
  --bg-l: #fff;
  --bg-gl: #f5f5f5;

  --btn: #f5f5f5;
  --btn-h: #e3e3e3;
  --btn-d: #101010;
  --btn-dh: #3f6cff;

  --scroll-thumb: #d9d9d9;
  --scroll-track: #fff;

  --10: 0.625rem;
  --15: 0.9375rem;
  --20: 1.25rem;
  --25: 1.5625rem;
  --30: 1.875rem;
  --35: 2.1875rem;
  --40: 2.5rem;

  --block: 7.5rem 1.25rem;
  --body: 2.5rem;
  --screen: 50rem;

  --super: superellipse(1.4);
  --tr: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

html {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  scroll-behavior: smooth;
  cursor: url('/img/cursor/default.svg'), auto;
}

a,
a:hover,
a:active,
a:focus {
  cursor: url('/img/cursor/hover.svg'), auto;
}

a {
  text-decoration: none;
  color: var(--text-d);
  outline: none;
  user-select: none;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
img {
  user-select: none;
}

h1,
h2 {
  color: var(--text-d);
  font-family: Bruskovaya, serif;
  font-style: normal;
}

h3 {
  color: var(--text-d);
  font-family: Vela Sans, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  color: var(--text-dg);
  background: var(--bg-l);

  font-family: Vela Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

  .g {
    color: var(--text-g);
  }
}

header {
  margin: 0 auto;
  max-width: var(--screen);
  display: flex;
  justify-content: space-between;
  padding: var(--20);
  padding-bottom: 0;
}

.sections {
  z-index: 100;
  position: fixed;
  left: var(--20);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--15);
  padding: var(--25) var(--30);
  corner-shape: var(--super);
  border-radius: var(--20);
  background: var(--bg-gl);
}

.link {
  position: relative;
  transition: var(--tr);

  &::after {
    content: '';
    position: absolute;
    top: -0.625rem;
    left: -0.9375rem;
    right: -0.9375rem;
    bottom: -0.625rem;
  }
}

#cases {
  scroll-margin-top: 20vh;
}

#experience {
  scroll-margin-top: 20vh;
}

#skills {
  scroll-margin-top: 32vh;
}

#about {
  scroll-margin-top: 35vh;
}

#problem,
#research,
#solution,
#results {
  scroll-margin-top: 15vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 100px;
}

.me {
  width: 7.5rem;
  height: auto;
  corner-shape: var(--super);
  border-radius: var(--20);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--10);
  height: max-content;
  width: max-content;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--20) var(--30);
  transition: var(--tr);
  corner-shape: var(--super);
  border-radius: var(--20);

  &:active {
    transform: scale(0.94) !important;
    transition-duration: 0.1s;
  }

  &.l {
    background: var(--btn);
  }

  &.d {
    color: var(--text-l);
    background: var(--bg-d);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--20);
}

.hide {
  display: none;

  &.t {
    height: calc(0.92em * 2);
  }
}

.cases {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.case {
  display: flex;
  flex-direction: column;
  gap: var(--15);

  img {
    transition: var(--tr);
  }

  &.off {
    a {
      cursor: url('/img/cursor/close.svg') 9 9, auto !important;

      img {
        transition: initial;
      }
    }
  }
}

.img {
  corner-shape: var(--super);
  border-radius: var(--20);
  overflow: hidden;
}

.case-d {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--30);
}

.steps {
  display: flex;
  flex-direction: column;
  padding-left: 0.3125rem;
}

.step {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0.5625rem;
    top: 0.625rem;
    height: 0;
    width: 2px;
    background-color: var(--bg-d);
  }

  &:not(:last-child) {
    &:after {
      height: 98%;
    }
  }

  &:last-child {
    .info {
      margin-bottom: 0;
    }
  }
}

.number {
  z-index: 10;
  width: var(--20);
  height: var(--20);
  background: var(--bg-l);
  border-radius: 50%;
  border: 2px solid var(--bg-d);
  flex-shrink: 0;
  margin-right: 1.25rem;
  margin-top: 0.3125rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--10);
}

.skill {
  padding: var(--20) var(--30);
  background: var(--bg-gl);
  corner-shape: var(--super);
  border-radius: var(--20);
}

.case-block {
  display: flex;
  flex-direction: column;
  gap: var(--25);

  a {
    cursor: url('/img/cursor/zoom.svg') 9 9, auto !important;
  }

  img {
    corner-shape: var(--super);
    border-radius: var(--20);
  }
}

.case-text {
  display: flex;
  flex-direction: column;
  gap: var(--20);
}

.case-cases {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding-bottom: 6.25rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.cases-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--20);
}

.pswp__button--close {
  width: 3.75rem !important;
  height: 3.75rem !important;
  margin-right: var(--20) !important;
  margin-top: var(--20) !important;
  background: var(--btn-d) !important;
  corner-shape: var(--super);
  border-radius: var(--20);
  opacity: 1 !important;
  transition: var(--tr) !important;
}

.pswp__button--close:active {
  transform: scale(0.94) !important;
  transition-duration: 0.1s;
}

.pswp__button--zoom {
  display: none !important;
}

.pswp__icn {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.pswp__icn-shadow,
.pswp__button--arrow--next,
.pswp__button--arrow--prev,
.pswp__counter {
  display: none !important;
}

.pswp__button {
  cursor: url('/img/cursor/hover.svg'), auto !important;
}

.pswp__img {
  cursor: url('/img/cursor/close.svg') 9 9, auto !important;
}

footer {
  display: flex;
  flex-direction: column;
  gap: var(--40);
  margin: 0 auto;
  max-width: var(--screen);
  padding: 0 var(--20);
  padding-top: 7.5rem;

  .links {
    margin-bottom: 5rem;
  }

  h1 {
    width: max-content;
    position: relative;
  }
}

@media (hover: hover) {
  .link:hover {
    color: var(--text-d);
  }

  .btn.l:hover {
    background: var(--btn-h);
  }

  .btn.d:hover {
    background: var(--btn-dh);
  }

  .case:has(a:hover) img {
    transform: scale(1.025);
  }

  .off:has(a:hover) img {
    transform: scale(1);
  }

  .pswp__button--close:hover {
    background: var(--btn-dh) !important;
  }
}

@media (hover: none) {
  .link:active {
    color: var(--text-d);
  }

  .btn.l:active {
    background: var(--btn-h);
  }

  .btn.d:active {
    background: var(--btn-dh);
  }

  .case:has(a:active) img {
    transform: scale(1.025);
  }

  .off:has(a:active) img {
    transform: scale(1);
  }

  .pswp__button--close:active {
    background: var(--btn-dh) !important;
  }
}

@media screen and (max-width: 1200px) {
  .sections {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --10: 0.5rem;
    --15: 0.75rem;
    --20: 1rem;
    --25: 1.25rem;
    --30: 1.625rem;
    --35: 1.875rem;
    --40: 2.25rem;
  }

  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  main {
    gap: 6.25rem;
    padding-top: 5.625rem;
  }

  #problem,
  #research,
  #solution,
  #results {
    scroll-margin-top: 6.25rem;
  }

  .me {
    width: 6.25rem;
  }

  .show {
    display: none;
  }

  .hide {
    display: block;
  }

  .cases {
    gap: 3.5rem;
  }

  .number {
    margin-top: 0.3125rem;
    margin-right: 0.9375rem;
    margin-left: 0.125rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .cases-grid {
    display: flex;
    flex-direction: column;
    gap: var(--40);
  }
}

.top {
  position: fixed;
  bottom: var(--20);
  right: var(--20);
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  corner-shape: var(--super);
  border-radius: var(--20);
  font-size: 1.5rem;
  line-height: 0.8;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.625rem);
  transition: var(--tr);
  z-index: 1000;
}

.top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: clamp(3.4rem, 15vw, 4rem);
  }
}